# Create requirements.txt
pytest
matplotlib
openmeteo-requests
pandas
requests_cache
retry_requests
meteoblue_dataset_sdk
git+https://github.com/Meteomatics/python-connector-api.git
git+https://github.com/Meteosource/pymeteosource
streamlit
python-dotenv
seaborn
numpy
plotly
folium
streamlit-folium
